
// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size > 992px
/* Header section */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  //Search bar
  .search {
    background-color: $main-bg-color;
    padding: 5px 0;
    display: none;

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .searchBar {
      background-color: transparent;
      border: none;
      width: 95%;
      font-size: 14px;
      font-weight: 400;
      font-family: $main-font-2;
      line-height: 0;
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }

    i {
      font-size: 13px;
      color: $main-color;

      &:hover {
        cursor: pointer;
      }
    }
  }

  //Navbar
  .navMenu {
    background-color: white;
    box-shadow: 0 5px 10px -7px #dfdede;
    // position: relative;
    // display: none;

    .navMenuInside {
      padding: 5px 0;

      a {
        align-items: center;
        padding: 0;
      }

      .navInside {
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;

        .logoDiv {
          position: relative;
          top: -12px;

          .logo {
            font-size: 32px;
            color: $main-color;
            font-weight: 600;
            font-family: $main-font;

            span {
              color: $main-black-color;
              font-weight: 900;
            }
          }
        }

        .menuDiv {
          position: relative;
          top: 3px;

          .navInsidePages {
            justify-content: flex-end;

            ul {
              align-items: center;
              line-height: 30px;

              .active {
                color: $main-color;
              }

              li {
                position: relative;
                padding-bottom: 25px;

                a,
                span {
                  transition: all .2s ease-out 0s;
                  font-size: 15px;
                  font-weight: 500;
                  color: $main-black-color;
                  margin: 0 20px;
                  opacity: .9;
                  cursor: pointer;

                  &:hover {
                    color: $main-color;
                  }
                }

                .subMenu {
                  display: none;
                  position: absolute;
                  top: 45px;
                  left: 20px;
                  width: 250px;
                  border-bottom: 2px solid $main-color;

                  li {
                    background-color: $main-black-color;
                    padding: 10px 0;
                    border-bottom: 1px solid rgb(95, 95, 97);
                    transition: all .3s ease-out 0s;

                    &:hover {
                      background-color: $main-color;
                      border-bottom: 1px solid $main-color;
                    }

                    &:hover a {
                      margin-left: 15px;
                    }

                    a {
                      text-decoration: none;
                      color: white;
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }

        .searchIcon {
          justify-content: flex-end;
          position: relative;
          top: -12px;

          i {
            padding: 8px 15px;
            border-radius: 3px;
            background-color: $main-color;
            color: white;
            font-size: 14px;
            cursor: pointer;
            &:hover{
              background-color: $main-black-color;
            }
          }
        }
      }
    }
  }

  //Navbar small screen
  .navMenuSmall {
    display: none;
  }

  //Title of navbar
  .navMenuSmallTitle {
    display: none;
  }

  //Responsive menu
  .menuResponse {
    display: none;
    background-color: white;

    ul {
      width: 100%;

      li {
        border-top: 1px solid lighten($main-black-color,60%);
        position: relative;

        a {
          display: block;
          text-decoration: none;
          color: $main-black-color;
          font-family: $main-font;
          font-size: 12px;
          font-weight: 600;
          padding: 15px;
          cursor: pointer;
          width: 95%;
          transition: all .3s ease-out 0s;

          &:hover {
            color: $main-color;
          }
        }

        i {
          position: absolute;
          right: 7px;
          top: 12px;
          float: right;
          color: $main-black-color;
          font-size: 8px;
          padding: 3px;
          cursor: pointer;
          transition: all .3s ease-out 0s;

          &:hover {
            color: $main-color;
          }
        }

        ul {
          display: none;

          li {
            background-color: rgb(252, 252, 252);

            a {
              padding-left: 55px;
              font-size: 12px;
              color: lighten($main-black-color, 30);
              font-weight: normal;

            }
          }
        }
      }
    }
  }
}

/* Slider section */
#slider {
  .sliderFrame {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

    //Creating rounded nav 
    .nextDiv {
      position: absolute;
      right: 40px;
      bottom: 5px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .nextRound {
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        border-radius: 100%;
        float: left;
        background-color: darken(white,10);
        transition: background-color .2s linear;

        &:hover {
          background-color: #de1219;
          cursor: pointer;
        }
      }
    }

    .slidesDiv {
      height: 100vh;
      position: absolute;
      left: 0;
      transition: all .5s linear;

      .slideDiv {
        height: 100vh;
        float: left;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-position: center;
        background-size: cover;
      }
    }

  }

}

/* Footer section */
#footer {
  .footerBar {
    padding: 50px 15px;
    background-color: #1e2024;

    .gives {
      margin: 35px 0;

      .logo {
        margin-bottom: 25px;

        a {
          display: block;
          color: $main-color;
          text-decoration: none;
          font-size: 32px;
          font-weight: 700;
          font-family: $main-font;

          span {
            color: white;
          }
        }
      }

      .text {
        margin-bottom: 20px;

        p {
          color: darken(white,20);
          line-height: 24px;
          font-size: 14px;
        }
      }

      .social {
        color: darken(white,20);

        a {
          display: inline-block;
          position: relative;
          text-decoration: none;
          color: darken(white,20);
          font-size: 12px;
          font-weight: bold;
          width: 28px;
          padding: 8px;
          background-color: lighten(#1e2024,5);
          border-radius: 3px;
          cursor: pointer;
          transition: all .3s ease-in 0s;
          box-sizing: border-box;
          overflow: hidden;

          &:hover {
            background-color: white;
            width: 88px;
            color: $main-color;
          }

          &:hover span {
            visibility: visible;
          }

          i {}

          span {
            position: absolute;
            top: 8px;
            left: 28px;
            visibility: hidden;
          }
        }

      }
    }

    .links {
      margin: 35px 0;

      h5 {
        font-size: 16px;
        color: darken(white,20);
        margin-bottom: 25px;
      }

      ul {
        li {
          line-height: 30px;
          color: darken(white,20);
          font-size: 14px;
          cursor: pointer;
          transition: all .3s ease-out 0s;

          &:hover {
            margin-left: 6px;
            color: $main-color;
          }

          &:hover a {
            color: $main-color;
          }

          a {
            color: darken(white,20);
            text-decoration: none;
          }
        }
      }
    }

    .tags {
      margin: 35px 0;

      h5 {
        color: darken(white,20);
        margin-bottom: 25px;
      }

      a {
        transition: all .3s ease-out 0s;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        color: darken(white,20);
        padding: 10px 12px;
        margin: 3px 0;
        background-color: lighten(#1e2024,5);
        border-radius: 3px;

        &:hover {
          background-color: white;
          color: $main-color;
        }
      }
    }

    .subscribe {
      margin: 35px 0;

      h5 {
        color: darken(white,20);
        margin-bottom: 25px;
      }

      p {
        color: darken(white,20);
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 30px;
      }

      .form {
        font-size: 14px;

        input {
          height: 45px;
          border-radius: 3px;
          outline-style: none;
          box-shadow: none;
          border-color: transparent;
          font-size: 14px;
          width: 100%;
        }

        button {
          height: 45px;
          background-color: $main-color;
          border: none;
          font-size: 14px;
          color: white;
          font-weight: 600;
          padding: 0 20px;
          border-radius: 3px;
          outline-style: none;
          box-shadow: none;
          border-color: transparent;
          transition: all .3s linear 0s;

          &:hover {
            background-color: white;
            color: $main-color;
          }
        }
      }
    }
  }

  .copyright {
    padding: 25px 0;
    background-color: #161719;
    text-align: center;

    p {
      color: darken(white,20);
      font-size: 14px;
      font-family: $main-font-2;
      font-weight: 400;
    }
  }
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //

// Screen size bigger than 992px
@media only screen and (min-width: 992px) {
  .menuResponse {
    display: none;
  }
}

// Screen size between 992px and 768px
@media only screen and (max-width: 992px) {

  //Header
  #header {
    //Navbar big screen
    .navMenuBig {
      display: none;
    }

    //Navbar small screen
    .navMenuSmall {
      display: block;
      box-shadow: none;

      .navInside {
        border-bottom: 1px solid lighten($main-black-color, 60%);
      }
    }

    //Title of navbar
    .navMenuSmallTitle {
      display: block;
      box-shadow: none;

      .navInside {
        .logoDiv {
          a {
            font-size: 22px !important;
            font-weight: 300 !important;
          }
        }

        .searchIconSmall {

          justify-content: flex-end;
          position: relative;
          top: -12px;

          i {
            color: $main-color;
            font-size: 30px;
            cursor: pointer;
          }
        }
      }
    }

    //Responsive menu
    .menuResponse {
      display: none;

    }
  }

  //Footer
  #footer {}
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size between 768 and 576px
@media only screen and (max-width: 768px) {

  //Header
  #header {
    //Navbar small screen
    .navMenuSmall {
      .navInside {
        border-bottom: 1px solid lighten($main-black-color, 60%);
      }
    }
  }

  //Footer
  #footer {}
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size < 576px
@media only screen and (max-width: 576px) {

  //Header
  #header {
    //Search bar
    .search {
      padding: 0 50px;
    }

    //Navbar big screen
    .navMenuBig {
      display: none;
    }

    //Navbar small screen
    .navMenuSmall {
      display: block;
      padding-right: 15px;
      padding-left: 15px;

      .navInside {
        padding: 0 50px;

        .logoDiv {
          width: 50%;
        }

        .searchIcon {
          width: 50%;
          // margin: 0px 10px;
        }
      }
    }

    //Title of navbar
    .navMenuSmallTitle {
      padding-right: 15px;
      padding-left: 15px;

      .navInside {
        padding: 0 50px;

        .logoDiv {
          width: 50%;
        }

        .searchIconSmall {
          width: 50%;
          // margin: 0px 10px;
        }
      }
    }

    //Responsive menu
    .menuResponse {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  //Footer
  #footer {}
}
