
// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size > 992px
//Container of the Home page
#mainContainer {

  /* Header section */
  #header {
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    //Search bar
    .search {
      background-color: $main-bg-color;
      padding: 5px 0;
      display: none;

      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .searchBar {
        background-color: transparent;
        border: none;
        width: 95%;
        font-size: 14px;
        font-weight: 400;
        font-family: $main-font-2;
        line-height: 0;
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
      }

      i {
        font-size: 13px;
        color: $main-color;

        &:hover {
          cursor: pointer;
        }
      }
    }

    //Navbar
    .navMenu {
      background-color: white;
      box-shadow: 0 5px 10px -7px #dfdede;
      // position: relative;
      // display: none;

      .navMenuInside {
        padding: 5px 0;

        a {
          align-items: center;
          padding: 0;
        }

        .navInside {
          position: relative;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding-top: 25px;

          .logoDiv {
            position: relative;
            top: -12px;

            .logo {
              font-size: 32px;
              color: $main-color;
              font-weight: 600;
              font-family: $main-font;

              span {
                color: $main-black-color;
                font-weight: 900;
              }
            }
          }

          .menuDiv {
            position: relative;
            top: 3px;

            .navInsidePages {
              justify-content: flex-end;

              ul {
                align-items: center;
                line-height: 30px;

                .active {
                  color: $main-color;
                }

                li {
                  position: relative;
                  padding-bottom: 25px;

                  a,
                  span {
                    transition: all .2s ease-out 0s;
                    font-size: 15px;
                    font-weight: 500;
                    color: $main-black-color;
                    margin: 0 20px;
                    opacity: .9;
                    cursor: pointer;

                    &:hover {
                      color: $main-color;
                    }
                  }

                  .subMenu {
                    display: none;
                    position: absolute;
                    top: 45px;
                    left: 20px;
                    width: 250px;
                    border-bottom: 2px solid $main-color;

                    li {
                      background-color: $main-black-color;
                      padding: 10px 0;
                      border-bottom: 1px solid rgb(95, 95, 97);
                      transition: all .3s ease-out 0s;

                      &:hover {
                        background-color: $main-color;
                        border-bottom: 1px solid $main-color;
                      }

                      &:hover a {
                        margin-left: 15px;
                      }

                      a {
                        text-decoration: none;
                        color: white;
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }

          .searchIcon {
            justify-content: flex-end;
            position: relative;
            top: -12px;

            i {
              padding: 8px 15px;
              border-radius: 3px;
              background-color: $main-color;
              color: white;
              font-size: 14px;
              cursor: pointer;
              transition: all .3s ease;

              &:hover {
                background-color: $main-black-color;
              }
            }
          }
        }
      }
    }

    //Navbar small screen
    .navMenuSmall {
      display: none;
    }

    //Title of navbar
    .navMenuSmallTitle {
      display: none;
    }

    //Responsive menu
    .menuResponse {
      display: none;
      background-color: white;

      ul {
        width: 100%;

        li {
          border-top: 1px solid lighten($main-black-color,60%);
          position: relative;

          a {
            display: block;
            text-decoration: none;
            color: $main-black-color;
            font-family: $main-font;
            font-size: 12px;
            font-weight: 600;
            padding: 15px;
            cursor: pointer;
            width: 95%;
            transition: all .3s ease-out 0s;

            &:hover {
              color: $main-color;
            }
          }

          i {
            position: absolute;
            right: 7px;
            top: 12px;
            float: right;
            color: $main-black-color;
            font-size: 8px;
            padding: 3px;
            cursor: pointer;
            transition: all .3s ease-out 0s;

            &:hover {
              color: $main-color;
            }
          }

          ul {
            display: none;

            li {
              background-color: rgb(252, 252, 252);

              a {
                padding-left: 55px;
                font-size: 12px;
                color: lighten($main-black-color, 30);
                font-weight: normal;

              }
            }
          }
        }
      }
    }
  }

  /* Slider section */
  #slider {
    #sliderWrapper {
      margin: 0 -15px;
      position: relative;

      .slideItems {
        height: 100vh;
        width: 100%;
        float: left;
        background-size: cover;
      }

      .slideItem-1 {
        display: block;
        background: url("../img/slides/s1.jpg") no-repeat center center;
      }

      .slideItem-2 {
        display: none;
        background: url("../img/slides/s2.jpg") no-repeat center center;
      }

      .slideItem-3 {
        display: none;
        background: url("../img/slides/s3.jpg") no-repeat center center;
      }

      .overlay {
        padding: 250px 0;
        text-align: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0,0,0,0.4);

        h1 {
          position: relative;
          top: -30px;
          opacity: .1;
          transition: all 1.8s ease;
          font-size: 55px;
          font-weight: bold;
          margin-bottom: 45px;
          letter-spacing: 5px;
          font-family: $main-font-3;
          color: white;
        }

        p {
          position: relative;
          top: -60px;
          opacity: .1;
          transition: all 1.4s ease;
          padding: 0 80px;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          font-family: $main-font-2;
          color: white;
          margin-bottom: 50px;
        }

        a {
          position: relative;
          top: -60px;
          opacity: .1;
          text-decoration: none;
          background-color: $main-color;
          color: white;
          font-family: $main-font-3;
          font-size: 14px;
          font-weight: 600;
          padding: 16px 46px;
          border-radius: 6px;
          letter-spacing: 1px;
          transition: background-color .3s ease-out, opacity 1s ease, top 1s ease;

          &:hover {
            background-color: $main-black-color;
          }
        }

        .controls {
          position: absolute;
          top: 330px;
          right: 35px;
          width: 15px;
          height: 70px;

          .controlItem {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $bg-col-tag;
            margin-bottom: 10px;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
              background-color: $main-color;
            }
          }

          .active {
            background-color: $main-color;
          }
        }
      }
    }
  }

  /* weDo section */
  #weDo {
    padding: 100px 0;
    text-align: center;
    background-color: $bg-col-volunteer;

    .title {
      margin-bottom: 60px;

      h1 {
        text-transform: uppercase;
        color: $main-black-color;
        font-family: $main-font;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 10px;
      }

      h4 {
        color: $main-font-color;
        font-family: $main-font-2;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .weDoItem {
      background-color: white;
      margin-top: 30px;
      padding: 22px;
      cursor: pointer;
      transition: transform .5s ease;

      &:hover {
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
        transform: translateY(-10px);
      }

      &:hover h3 {
        color: $main-color;
      }

      i {
        font-size: 50px;
      }

      h3 {
        font-size: 19px;
        font-family: $main-font;
        font-weight: 600;
        color: $main-black-color;
        margin: 15px 0;
        transition: all .3s ease;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        color: $main-font-color;
        font-weight: 400;
        font-family: $main-font-2;
        margin-bottom: 15px;
      }

      a {
        text-decoration: none;
        display: inline-block;
        background-color: $main-color;
        color: white;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 30px;
        border-radius: 6px;
        transition: all .2s linear;

        &:hover {
          background-color: $main-black-color;
        }

      }
    }

    .weDoItem.active {
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
      transform: translateY(-10px);

      a {
        background-color: $main-black-color;

        &:hover {
          background-color: $main-color;
        }

      }
    }
  }

  /* specialCauses section */
  #specialCauses {
    padding: 100px;

    .list-cause-row {
      .colOwnRight {
        background-color: $bg-col-volunteer;
        margin-left: -15px;
      }

      .cause {
        overflow: hidden;
        margin-bottom: 20px;
        background-color: $bg-col-volunteer;
        transition: all .1s linear;

        .image {
          overflow: hidden;
          position: relative;
          line-height: 0;

          img {
            transition: all .1s linear;
            transform: scale(1);
            width: 100%;
          }

          .over-lay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(36, 40, 47, 0.65);
            z-index: 10;
            opacity: 0;

          }
        }

        .content {
          background-color: $bg-col-volunteer;
          width: 100%;
          padding: 30px;

          h1 {
            color: $main-black-color;
            font-weight: 900;
            font-size: 24px;
            margin-bottom: 15px;

          }

          h4 {
            color: $main-black-color;
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 15px;
          }

          p {
            line-height: 24px;
            font-size: 14px;
            font-family: $main-font-2;
            font-weight: 400;
            color: $main-font-color;
          }

          .progress_section {
            padding: 25px 0;

            p {
              margin-bottom: 25px;
              font-size: 16px;

              .Raised {
                color: rgb(224, 7, 7);
              }

            }

            .progress_barr {
              background-color: $main-bg-color;
              width: 100%;

              .progressOwn {
                background-color: $main-color;
                width: .4%;
                -webkit-transition: width .8s linear;
                transition: width .8s linear;
                text-align: left;
                position: relative;
                z-index: 6;
                font-size: 10px;
                color: transparent;
                line-height: 14px;
                text-align: right;
              }

              .changeWidth {
                width: 50%;
              }
            }
          }

          .donation {
            margin-top: 10px;

            .main-color {
              background-color: $main-color;
              color: white;
              font-family: $main-font;
              font-size: 14px;
              font-weight: 600;
              padding: 9px 38px;
              border-radius: 6px;
              transition: all .2s linear;

              &:hover {
                background-color: $main-black-color;
              }
            }
          }
        }

      }

    }
  }

  /* recentCauses section */
  #recentCauses {
    padding: 100px 0;
    text-align: center;
    background-color: $bg-col-volunteer;

    .title {
      margin-bottom: 60px;

      h1 {
        text-transform: uppercase;
        color: $main-black-color;
        font-family: $main-font;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 10px;
      }

      h4 {
        color: $main-font-color;
        font-family: $main-font-2;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .cause {
      overflow: hidden;
      margin-bottom: 30px;
      box-shadow: 0 0 1px lightgray;
      transition: all .2s linear;

      &:hover {
        box-shadow: 0 0 10px lightgray;
      }

      &:hover .image > .over-lay {
        opacity: 1;
      }

      &:hover .image > img {
        transform: scale(1.12);
      }

      .image {
        overflow: hidden;
        position: relative;
        line-height: 0;

        img {
          transition: all .2s linear;
          transform: scale(1);
        }

        .over-lay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background-color: rgba(36, 40, 47, 0.65);
          z-index: 10;
          opacity: 0;

        }
      }

      .content {
        text-align: center;
        background-color: white;
        width: 100%;
        padding: 20px;

        h4 {
          a {
            text-decoration: none;
            color: $main-black-color;
            font-weight: 600;
            transition: all .1s linear;

            &:hover {
              color: $main-color;
            }
          }
          margin-bottom: 15px;

        }

        p {
          line-height: 24px;
          font-size: 14px;
          font-family: $main-font-2;
          font-weight: 400;
        }

        .progress_section {
          padding: 15px 0;

          p {
            margin-bottom: 15px;
            font-size: 16px;

            .Raised {
              color: rgb(224, 7, 7);
            }

          }

          .progress_barr {
            background-color: $main-bg-color;
            width: 100%;
            position: relative;

            .progressOwn {
              background-color: $main-color;
              width: .4%;
              -webkit-transition: width .8s linear;
              transition: width .8s linear;
              text-align: left;
              position: relative;
              z-index: 6;
              font-size: 10px;
              color: transparent;
              line-height: 14px;
              text-align: right;
            }

            .changeWidth {
              width: 50%;
            }
          }
        }

        .donation {
          text-align: center;

          .main-color {
            background-color: $main-color;
            color: white;
            font-family: $main-font;
            font-size: 14px;
            font-weight: 600;
            padding: 9px 38px;
            margin-top: 25px;
            border-radius: 6px;
            transition: all .2s linear;

            &:hover {
              background-color: $main-black-color;
            }
          }
        }
      }

    }
  }

  /* workTogather section */
  #workTogather {
    position: relative;
    padding: 100px 0;
    background: url("../img/parallax/img-2.jpg") no-repeat top center fixed;
    background-size: cover;

    .workTogatherTitles {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;

      h3 {
        font-size: 44px;
        font-weight: 400;
        color: white;
        font-family: $main-font;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 54px;
        font-weight: 800;
        letter-spacing: 1px;
        margin-bottom: 32px;
        text-transform: uppercase;
        color: white;
      }

    }

    .overlay {
      position: absolute;
      background-color: $main-col-55;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* volunteers section */
  #volunteers {
    padding: 100px 0;
    text-align: center;

    .title {
      margin-bottom: 60px;

      h1 {
        text-transform: uppercase;
        color: $main-black-color;
        font-family: $main-font;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 10px;
      }

      h4 {
        color: $main-font-color;
        font-family: $main-font-2;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .volunteers {
      &:hover .text .social {
        transform: scale(1.08);
      }

      .image {
        margin-top: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text {
        padding: 20px 0;

        .social {
          float: right;
          margin-top: -39px;
          margin-right: 15px;
          z-index: 6;
          position: relative;
          transition: all .25s linear;

          i {
            font-size: 18px;
            color: white;
            background-color: red;
            width: 35px;
            padding: 8px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            transition: all .1s linear;

            &:hover {
              background-color: $main-black-color;
            }

          }
        }

        h5 {
          color: $main-color;
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
        }

        h3 {
          padding: 15px 0;
          color: $main-black-color;
          font-family: $main-font;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          transition: all .3s ease 0s;
          cursor: pointer;

          &:hover {
            color: $main-color;
          }
        }

        p {
          color: $font-col-2;
          font-size: 14px;
          line-height: 24px;
          font-family: $main-font-2;
          font-weight: 400;
        }
      }
    }
  }

  /* becomeVolunteer section */
  #becomeVolunteer {
    position: relative;
    padding: 100px 0;
    background: url("../img/need.jpg") no-repeat top center fixed;
    background-size: cover;

    .becomeVolunteerTitles {
      background-color: white;
      position: relative;
      text-align: center;
      padding: 45px;
      margin: 0 auto;
      width: 57%;

      h1 {
        font-size: 24px;
        font-weight: 900;
        font-family: $main-font;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $main-black-color;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 32px;
        font-family: $main-font-2;
      }

      a {
        text-decoration: none;
        color: $main-font-color;
        font-family: $main-font-2;
        border: 1px solid $main-black-color;
        border-radius: 6px;
        padding: 15px 25px;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        transition: all .3s ease;

        i {
          margin-right: 10px;
        }

        &:hover {
          background-color: $main-black-color;
          color: white;
        }
      }

    }

    .overlay {
      position: absolute;
      background-color: $main-col-55;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* gallery section */
  #gallery {
    padding: 100px 0;
    text-align: center;

    .title {
      margin-bottom: 60px;

      h1 {
        text-transform: uppercase;
        color: $main-black-color;
        font-family: $main-font;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 10px;
      }

      h4 {
        color: $main-font-color;
        font-family: $main-font-2;
        font-weight: 400;
        font-size: 16px;
      }
    }

    #gallery-slide-image {
      .galleryWrapper {
        padding: 30px 0;

        .Width-33 {
          @extend .width-33;
        }

        .galleryImage {
          padding: 3px;

          .image {
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
            display: flex;

            img {
              width: 100%;
              height: 100%;
            }

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(36, 40, 47, 0.85);
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transform: scale(0);
              opacity: 0;
              transition: all .5s ease;

              .secOverlay {
                position: relative;
                width: 97%;
                height: 96%;
                border: 1px solid white;
              }

              &:hover {
                opacity: 1;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              &:hover i {
                opacity: 1;
                transform: scale(1);
              }

              i {
                opacity: 0;
                color: white;
                background-color: transparent;
                position: absolute;
                top: 117px;
                z-index: 6;
                text-align: center;
                line-height: 35px;
                font-size: 26px;
                transition: all .5s ease;
                transform: scale(0);
              }
            }
          }

          .image:hover .overlay {
            transform: scale(1);
          }
        }
      }
    }

    #gallery-slider {
      transition: all .8s linear;

      .main-wrapper {
        background: rgba(0, 0, 0, 0.65);
        padding: 30px;
        height: 100hv;
        width: 100wv;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;

        display: flex;
        align-items: center;
        justify-content: center;

        .controls {
          position: absolute;
          width: 10%;
          height: 50%;
          font-size: 34px;
          color: #ADACAC;
          display: flex;
          align-items: center;
          font-weight: 300;
          text-decoration: none;
          transition: all .2s linear;
          cursor: pointer;

          &:hover {
            color: #DAD8D8;
          }
        }

        .close {
          width: 0;
          height: 0;
          right: 78px;
          top: 45px;
          // color: white;
          opacity: 1;
          border: none;
          text-shadow: none;
        }

        .content {
          display: flex;
          align-items: center;
          justify-content: center;

          .imageWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 450px;
            margin: 0 20px;

            img {
              max-height: 100%;
              max-width: 100%;
              height: auto;
              width: auto;
              border: 10px solid white;
            }
          }

          .prev {
            left: 0;
          }

          .next {
            right: 0;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  /* recentNews section */
  #recentNews {
    padding: 100px 0;
    text-align: center;
    background-color: $bg-col-volunteer;

    .title {
      margin-bottom: 60px;

      h1 {
        text-transform: uppercase;
        color: $main-black-color;
        font-family: $main-font;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 10px;
      }

      h4 {
        color: $main-font-color;
        font-family: $main-font-2;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .blogItem {
      margin-bottom: 50px;
      text-align: left;

      .itemMeta {
        width: 100%;

        .date {
          background-color: $main-color;
          width: 75px;
          height: 70px;
          padding: 10px 0 0;
          text-align: center;
          font-size: 14px;
          font-weight: 900;
          color: white;
          font-family: $main-font-3;
          line-height: 23px;
          float: left;

        }

        .about {
          float: left;
          padding-left: 20px;
          @include calc(width,'100%-75px');

          h3 {
            font-size: 16px;
            font-family: $main-font;
            font-weight: 600;
            color: $main-black-color;
            margin-bottom: 18px;
            margin-top: 2px;
          }

          p {
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            font-family: $main-font-3;
            color: $main-black-color;
            margin-right: 18px;

            i {
              font-size: 14px;
            }
          }

        }
      }

      .itemImage {
        position: relative;
        overflow: hidden;
        clear: both;
        padding: 15px 0;

        img {
          width: 100%;
        }

        .controls {
          .controlsItem {
            position: absolute;
            z-index: 4;
            padding: 20px;
            font-size: 45px;
            color: rgba(255, 255, 255, 0.6);
            top: 115px;
            cursor: pointer;
            transition: all .3s ease;
            font-weight: 500;

            &:hover {
              color: white;
            }
          }

          .right {
            right: 20px;
          }

          .left {
            left: 20px;
          }
        }

        .navs {
          position: absolute;
          bottom: 60px;
          height: 15px;
          line-height: 15px;

          .navItem {
            width: 10px;
            height: 10px;
            background-color: $main-font-color;
            border-radius: 100%;
            display: inline-block;
            margin-right: 8px;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
              background-color: $main-color;
            }
          }

          .active {
            background-color: $main-color;
          }
        }
      }

      .itemText {
        p {
          font-size: 14px;
          line-height: 24px;
          font-family: $main-font-2;
          color: $main-font-color;
        }
      }

      .readMore {
        .donation {
          margin-top: 10px;

          .main-color {
            background-color: $main-color;
            color: white;
            font-family: $main-font;
            font-size: 14px;
            font-weight: 600;
            padding: 9px 30px;
            border-radius: 6px;
            transition: all .2s linear;

            &:hover {
              background-color: $main-black-color;
            }
          }
        }
      }
    }
  }

  /* Footer section */
  #footer {
    .footerBar {
      padding: 50px 15px;
      background-color: #1e2024;

      .gives {
        margin: 35px 0;

        .logo {
          margin-bottom: 25px;

          a {
            display: block;
            color: $main-color;
            text-decoration: none;
            font-size: 32px;
            font-weight: 700;
            font-family: $main-font;

            span {
              color: white;
            }
          }
        }

        .text {
          margin-bottom: 20px;

          p {
            color: darken(white,20);
            line-height: 24px;
            font-size: 14px;
          }
        }

        .social {
          color: darken(white,20);

          a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: darken(white,20);
            font-size: 12px;
            font-weight: bold;
            width: 28px;
            padding: 8px;
            background-color: lighten(#1e2024,5);
            border-radius: 3px;
            cursor: pointer;
            transition: all .3s ease-in 0s;
            box-sizing: border-box;
            overflow: hidden;

            &:hover {
              background-color: white;
              width: 88px;
              color: $main-color;
            }

            &:hover span {
              visibility: visible;
            }

            i {}

            span {
              position: absolute;
              top: 8px;
              left: 28px;
              visibility: hidden;
            }
          }

        }
      }

      .links {
        margin: 35px 0;

        h5 {
          font-size: 16px;
          color: darken(white,20);
          margin-bottom: 25px;
        }

        ul {
          li {
            line-height: 30px;
            color: darken(white,20);
            font-size: 14px;
            cursor: pointer;
            transition: all .3s ease-out 0s;

            &:hover {
              margin-left: 6px;
              color: $main-color;
            }

            &:hover a {
              color: $main-color;
            }

            a {
              color: darken(white,20);
              text-decoration: none;
            }
          }
        }
      }

      .tags {
        margin: 35px 0;

        h5 {
          color: darken(white,20);
          margin-bottom: 25px;
        }

        a {
          transition: all .3s ease-out 0s;
          font-size: 14px;
          display: inline-block;
          text-decoration: none;
          color: darken(white,20);
          padding: 10px 12px;
          margin: 3px 0;
          background-color: lighten(#1e2024,5);
          border-radius: 3px;

          &:hover {
            background-color: white;
            color: $main-color;
          }
        }
      }

      .subscribe {
        margin: 35px 0;

        h5 {
          color: darken(white,20);
          margin-bottom: 25px;
        }

        p {
          color: darken(white,20);
          line-height: 24px;
          font-size: 14px;
          margin-bottom: 30px;
        }

        .form {
          font-size: 14px;

          input {
            height: 45px;
            border-radius: 3px;
            outline-style: none;
            box-shadow: none;
            border-color: transparent;
            font-size: 14px;
            width: 100%;
          }

          button {
            height: 45px;
            background-color: $main-color;
            border: none;
            font-size: 14px;
            color: white;
            font-weight: 600;
            padding: 0 20px;
            border-radius: 3px;
            outline-style: none;
            box-shadow: none;
            border-color: transparent;
            transition: all .3s linear 0s;

            &:hover {
              background-color: white;
              color: $main-color;
            }
          }
        }
      }
    }

    .copyright {
      padding: 25px 0;
      background-color: #161719;
      text-align: center;

      p {
        color: darken(white,20);
        font-size: 14px;
        font-family: $main-font-2;
        font-weight: 400;
      }
    }

    .scrollToTop {
      opacity: 0;
      // display: none;
      cursor: default;
      text-decoration: none;
      position: fixed;
      right: 32px;
      bottom: 54px;
      width: 40px;
      height: 40px;
      background-color: $main-color;
      text-align: center;
      line-height: 40px;
      border-radius: 5px;
      font-size: 23px;
      color: white;
      // transition: all 2s ease;
      transition: background-color .3s ease, opacity 1s ease;
      z-index: 4650345603465;

      &:hover {
        background-color: $main-black-color;
      }
    }
  }
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //

// Screen size bigger than 992px
@media only screen and (min-width: 992px) {
  #mainContainer {
    //Header
    #header {
      //Responsive menu
      .menuResponse {
        display: none;
      }
    }
  }
}

// Screen size between 992px and 768px
@media only screen and (max-width: 992px) {
  #mainContainer {
    //Header
    #header {
      //Navbar big screen
      .navMenuBig {
        display: none;
      }

      //Navbar small screen
      .navMenuSmall {
        display: block;
        box-shadow: none;

        .navInside {
          border-bottom: 1px solid lighten($main-black-color, 60%);
        }
      }

      //Title of navbar
      .navMenuSmallTitle {
        display: block;
        box-shadow: none;

        .navInside {
          .logoDiv {
            a {
              font-size: 22px !important;
              font-weight: 300 !important;
            }
          }

          .searchIconSmall {

            justify-content: flex-end;
            position: relative;
            top: -12px;

            i {
              color: $main-color;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }

      //Responsive menu
      .menuResponse {
        display: none;

      }
    }

    /* Slider section */
    #slider {
      #sliderWrapper {
        .overlay {
          h1 {
            font-size: 35px;
          }
        }
      }
    }

    //Footer
    #footer {}
  }
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size between 768 and 576px
@media only screen and (max-width: 768px) {
  #mainContainer {
    //Header
    #header {
      //Navbar small screen
      .navMenuSmall {
        .navInside {
          border-bottom: 1px solid lighten($main-black-color, 60%);
        }
      }
    }

    //Footer
    #footer {}
  }
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
// Screen size < 576px
@media only screen and (max-width: 576px) {
  #mainContainer {
    //Header
    #header {
      //Search bar
      .search {
        padding: 0 50px;
      }

      //Navbar big screen
      .navMenuBig {
        display: none;
      }

      //Navbar small screen
      .navMenuSmall {
        display: block;
        padding-right: 15px;
        padding-left: 15px;

        .navInside {
          padding: 0 50px;

          .logoDiv {
            width: 50%;
          }

          .searchIcon {
            width: 50%;
            // margin: 0px 10px;
          }
        }
      }

      //Title of navbar
      .navMenuSmallTitle {
        padding-right: 15px;
        padding-left: 15px;

        .navInside {
          padding: 0 50px;

          .logoDiv {
            width: 50%;
          }

          .searchIconSmall {
            width: 50%;
            // margin: 0px 10px;
          }
        }
      }

      //Responsive menu
      .menuResponse {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    /* Slider section */
    #slider {
      #sliderWrapper {
        .overlay {
          h1 {
            font-size: 20px;
            margin-bottom: 25px;
          }

          p {
            padding: 0 40px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 40px;
          }

          .controls {
            right: 15px;
          }
        }
      }
    }

    //Footer
    #footer {}
  }
}
