/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //
//My additions
// Variables
$main-bg-color: #f5f5f5;
$main-color: #de1219;
$main-black-color: #444444;
$main-font-color: #4a4a4a;
$main-font: "Raleway",sans-serif;
$main-font-2: "Lato", sans-serif;
$main-font-3: "Helvetica Neue",sans-serif;

body {
  font-family: $main-font;
}

// Clear
.clear {
  clear: both;
}

// Box sizing
.boxSizing {
  box-sizing: border-box;
}

// Margins, paddings

.mg {
  margin: 0 !important;
}

.mg-left {
  margin-left: 0 !important;
}

.mg-right {
  margin-right: 0 !important;
}

.mg-top {
  margin-top: 0 !important;
}

.mg-bottom {
  margin-bottom: 0 !important;
}

.pd {
  padding: 0 !important;
}

.pd-left {
  padding-left: 0 !important;
}

.pd-right {
  padding-right: 0 !important;
}

.pd-top {
  padding-top: 0 !important;
}

.pd-bottom {
  padding-bottom: 0 !important;
}

// Flex
.flex {
  display: flex;
}

//Floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}
.overFlow{
  overflow: hidden;
}
// Imports
@import 'home';
@import 'causesGrid';
@import 'causesList';
@import 'causesSingle';
@import 'gallery';
@import 'about';
@import 'blogList';
@import 'blogSingle';
@import 'contact';