/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// <-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~    My additions    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> //

//Importing fonts
@import url( 'https://fonts.googleapis.com/css?family=Lato:100,100i,300i,400,700,900,900i|Raleway:100,100i,200,300,300i,400,500,500i,600,700,800,800i,900,900i');
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

// <-- ~~~~~~~~~~~~~~~~~~    Variables    ~~~~~~~~~~~~~~~~~~ --> //

$main-bg-color: #f5f5f5;
$main-col-55: rgba(0, 0, 0, 0.55);
$main-col-45: rgba(0, 0, 0, 0.45);
$main-col-15: rgba(0, 0, 0, 0.15);
$bg-col-cont: #f6f6f6;
$bg-col-volunteer: #f8f8f8;
$bg-col-fa: #fafafa;
$bg-col-tag: #ebebeb;
$bg-col-ea: #eaeaea;
$col-map-maker: #a5a5a5;
$main-color: #de1219;
$main-black-color: #444444;
$main-font-color: #4a4a4a;
$font-col-2: #666;
$main-font: "Raleway",sans-serif;
$main-font-2: "Lato", sans-serif;
$main-font-3: "Helvetica Neue",sans-serif;
$main-font-4: Roboto;

// <-- ~~~~~~~~~~~~~~~~~~    Clases    ~~~~~~~~~~~~~~~~~~ --> //

body {
  font-family: $main-font;
}

// Clear
.clear {
  clear: both;
}

// Box sizing
.boxSizing {
  box-sizing: border-box;
}

// Margins, paddings

.mg {
  margin: 0 !important;
}

.mg-left {
  margin-left: 0 !important;
}

.mg-right {
  margin-right: 0 !important;
}

.mg-top {
  margin-top: 0 !important;
}

.mg-bottom {
  margin-bottom: 0 !important;
}

.mg-l-r {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mg-t-b {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pd {
  padding: 0 !important;
}

.pd-left {
  padding-left: 0 !important;
}

.pd-right {
  padding-right: 0 !important;
}

.pd-top {
  padding-top: 0 !important;
}

.pd-bottom {
  padding-bottom: 0 !important;
}

.pd-l-r {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pd-t-b {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Flex
.flex {
  display: flex;
}

//Floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}

//OverFlow
.overFlow {
  overflow: hidden;
}

//Width options
.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

// <-- ~~~~~~~~~~~~~~~~~~    Mixins    ~~~~~~~~~~~~~~~~~~ --> //
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// <-- ~~~~~~~~~~~~~~~~~~    Imports    ~~~~~~~~~~~~~~~~~~ --> //
@import 'home';
@import 'causesGrid';
@import 'causesList';
@import 'causesSingle';
@import 'gallery';
@import 'about';
@import 'blogList';
@import 'blogSingle';
@import 'contact';