/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif; }

.clear {
  clear: both; }

.boxSizing {
  box-sizing: border-box; }

.mg {
  margin: 0 !important; }

.mg-left {
  margin-left: 0 !important; }

.mg-right {
  margin-right: 0 !important; }

.mg-top {
  margin-top: 0 !important; }

.mg-bottom {
  margin-bottom: 0 !important; }

.mg-l-r {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.mg-t-b {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.pd {
  padding: 0 !important; }

.pd-left {
  padding-left: 0 !important; }

.pd-right {
  padding-right: 0 !important; }

.pd-top {
  padding-top: 0 !important; }

.pd-bottom {
  padding-bottom: 0 !important; }

.pd-l-r {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pd-t-b {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.flex {
  display: flex; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.overFlow {
  overflow: hidden; }

.width-25, #gallery-slide-image .galleryWrapper .Width-25 {
  width: 25%; }

.width-50, #gallery-slide-image .galleryWrapper .Width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

.width-100 {
  width: 100%; }

/* Header section */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  #header .search {
    background-color: #f5f5f5;
    padding: 5px 0;
    display: none; }
    #header .search .flex {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    #header .search .searchBar {
      background-color: transparent;
      border: none;
      width: 95%;
      font-size: 14px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      line-height: 0;
      outline-style: none;
      box-shadow: none;
      border-color: transparent; }
    #header .search i {
      font-size: 13px;
      color: #de1219; }
      #header .search i:hover {
        cursor: pointer; }
  #header .navMenu {
    background-color: white;
    box-shadow: 0 5px 10px -7px #dfdede; }
    #header .navMenu .navMenuInside {
      padding: 5px 0; }
      #header .navMenu .navMenuInside a {
        align-items: center;
        padding: 0; }
      #header .navMenu .navMenuInside .navInside {
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px; }
        #header .navMenu .navMenuInside .navInside .logoDiv {
          position: relative;
          top: -12px; }
          #header .navMenu .navMenuInside .navInside .logoDiv .logo {
            font-size: 32px;
            color: #de1219;
            font-weight: 600;
            font-family: "Raleway", sans-serif; }
            #header .navMenu .navMenuInside .navInside .logoDiv .logo span {
              color: #444444;
              font-weight: 900; }
        #header .navMenu .navMenuInside .navInside .menuDiv {
          position: relative;
          top: 3px; }
          #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages {
            justify-content: flex-end; }
            #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul {
              align-items: center;
              line-height: 30px; }
              #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul .active {
                color: #de1219; }
              #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li {
                position: relative;
                padding-bottom: 25px; }
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li a,
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li span {
                  transition: all .2s ease-out 0s;
                  font-size: 15px;
                  font-weight: 500;
                  color: #444444;
                  margin: 0 20px;
                  opacity: .9;
                  cursor: pointer; }
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li a:hover,
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li span:hover {
                    color: #de1219; }
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu {
                  display: none;
                  position: absolute;
                  top: 45px;
                  left: 20px;
                  width: 250px;
                  border-bottom: 2px solid #de1219; }
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li {
                    background-color: #444444;
                    padding: 10px 0;
                    border-bottom: 1px solid #5f5f61;
                    transition: all .3s ease-out 0s; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li:hover {
                      background-color: #de1219;
                      border-bottom: 1px solid #de1219; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li:hover a {
                      margin-left: 15px; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li a {
                      text-decoration: none;
                      color: white;
                      margin-left: 10px; }
        #header .navMenu .navMenuInside .navInside .searchIcon {
          justify-content: flex-end;
          position: relative;
          top: -12px; }
          #header .navMenu .navMenuInside .navInside .searchIcon i {
            padding: 8px 15px;
            border-radius: 3px;
            background-color: #de1219;
            color: white;
            font-size: 14px;
            cursor: pointer;
            transition: all .3s ease; }
            #header .navMenu .navMenuInside .navInside .searchIcon i:hover {
              background-color: #444444; }
  #header .navMenuSmall {
    display: none; }
  #header .navMenuSmallTitle {
    display: none; }
  #header .menuResponse {
    display: none;
    background-color: white; }
    #header .menuResponse ul {
      width: 100%; }
      #header .menuResponse ul li {
        border-top: 1px solid #dddddd;
        position: relative; }
        #header .menuResponse ul li a {
          display: block;
          text-decoration: none;
          color: #444444;
          font-family: "Raleway", sans-serif;
          font-size: 12px;
          font-weight: 600;
          padding: 15px;
          cursor: pointer;
          width: 95%;
          transition: all .3s ease-out 0s; }
          #header .menuResponse ul li a:hover {
            color: #de1219; }
        #header .menuResponse ul li i {
          position: absolute;
          right: 7px;
          top: 12px;
          float: right;
          color: #444444;
          font-size: 8px;
          padding: 3px;
          cursor: pointer;
          transition: all .3s ease-out 0s; }
          #header .menuResponse ul li i:hover {
            color: #de1219; }
        #header .menuResponse ul li ul {
          display: none; }
          #header .menuResponse ul li ul li {
            background-color: #fcfcfc; }
            #header .menuResponse ul li ul li a {
              padding-left: 55px;
              font-size: 12px;
              color: #919191;
              font-weight: normal; }

/* Slider section */
#slider .sliderFrame {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  #slider .sliderFrame .nextDiv {
    position: absolute;
    right: 40px;
    bottom: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #slider .sliderFrame .nextDiv .nextRound {
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border-radius: 100%;
      float: left;
      background-color: #e6e6e6;
      transition: background-color .2s linear; }
      #slider .sliderFrame .nextDiv .nextRound:hover {
        background-color: #de1219;
        cursor: pointer; }
  #slider .sliderFrame .slidesDiv {
    height: 100vh;
    position: absolute;
    left: 0;
    transition: all .5s linear; }
    #slider .sliderFrame .slidesDiv .slideDiv {
      height: 100vh;
      float: left;
      background-repeat: no-repeat;
      background-size: cover; }

/* Footer section */
#footer .footerBar {
  padding: 50px 15px;
  background-color: #1e2024; }
  #footer .footerBar .gives {
    margin: 35px 0; }
    #footer .footerBar .gives .logo {
      margin-bottom: 25px; }
      #footer .footerBar .gives .logo a {
        display: block;
        color: #de1219;
        text-decoration: none;
        font-size: 32px;
        font-weight: 700;
        font-family: "Raleway", sans-serif; }
        #footer .footerBar .gives .logo a span {
          color: white; }
    #footer .footerBar .gives .text {
      margin-bottom: 20px; }
      #footer .footerBar .gives .text p {
        color: #cccccc;
        line-height: 24px;
        font-size: 14px; }
    #footer .footerBar .gives .social {
      color: #cccccc; }
      #footer .footerBar .gives .social a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #cccccc;
        font-size: 12px;
        font-weight: bold;
        width: 28px;
        padding: 8px;
        background-color: #2a2c32;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s ease-in 0s;
        box-sizing: border-box;
        overflow: hidden; }
        #footer .footerBar .gives .social a:hover {
          background-color: white;
          width: 88px;
          color: #de1219; }
        #footer .footerBar .gives .social a:hover span {
          visibility: visible; }
        #footer .footerBar .gives .social a span {
          position: absolute;
          top: 8px;
          left: 28px;
          visibility: hidden; }
  #footer .footerBar .links {
    margin: 35px 0; }
    #footer .footerBar .links h5 {
      font-size: 16px;
      color: #cccccc;
      margin-bottom: 25px; }
    #footer .footerBar .links ul li {
      line-height: 30px;
      color: #cccccc;
      font-size: 14px;
      cursor: pointer;
      transition: all .3s ease-out 0s; }
      #footer .footerBar .links ul li:hover {
        margin-left: 6px;
        color: #de1219; }
      #footer .footerBar .links ul li:hover a {
        color: #de1219; }
      #footer .footerBar .links ul li a {
        color: #cccccc;
        text-decoration: none; }
  #footer .footerBar .tags {
    margin: 35px 0; }
    #footer .footerBar .tags h5 {
      color: #cccccc;
      margin-bottom: 25px; }
    #footer .footerBar .tags a {
      transition: all .3s ease-out 0s;
      font-size: 14px;
      display: inline-block;
      text-decoration: none;
      color: #cccccc;
      padding: 10px 12px;
      margin: 3px 0;
      background-color: #2a2c32;
      border-radius: 3px; }
      #footer .footerBar .tags a:hover {
        background-color: white;
        color: #de1219; }
  #footer .footerBar .subscribe {
    margin: 35px 0; }
    #footer .footerBar .subscribe h5 {
      color: #cccccc;
      margin-bottom: 25px; }
    #footer .footerBar .subscribe p {
      color: #cccccc;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 30px; }
    #footer .footerBar .subscribe .form {
      font-size: 14px; }
      #footer .footerBar .subscribe .form input {
        height: 45px;
        border-radius: 3px;
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        font-size: 14px;
        width: 100%; }
      #footer .footerBar .subscribe .form button {
        height: 45px;
        background-color: #de1219;
        border: none;
        font-size: 14px;
        color: white;
        font-weight: 600;
        padding: 0 20px;
        border-radius: 3px;
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        transition: all .3s linear 0s; }
        #footer .footerBar .subscribe .form button:hover {
          background-color: white;
          color: #de1219; }
#footer .copyright {
  padding: 25px 0;
  background-color: #161719;
  text-align: center; }
  #footer .copyright p {
    color: #cccccc;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400; }

@media only screen and (min-width: 992px) {
  .menuResponse {
    display: none; } }
@media only screen and (max-width: 992px) {
  #header .navMenuBig {
    display: none; }
  #header .navMenuSmall {
    display: block;
    box-shadow: none; }
    #header .navMenuSmall .navInside {
      border-bottom: 1px solid #dddddd; }
  #header .navMenuSmallTitle {
    display: block;
    box-shadow: none; }
    #header .navMenuSmallTitle .navInside .logoDiv a {
      font-size: 22px !important;
      font-weight: 300 !important; }
    #header .navMenuSmallTitle .navInside .searchIconSmall {
      justify-content: flex-end;
      position: relative;
      top: -12px; }
      #header .navMenuSmallTitle .navInside .searchIconSmall i {
        color: #de1219;
        font-size: 30px;
        cursor: pointer; }
  #header .menuResponse {
    display: none; } }
@media only screen and (max-width: 768px) {
  #header .navMenuSmall .navInside {
    border-bottom: 1px solid #dddddd; } }
@media only screen and (max-width: 576px) {
  #header .search {
    padding: 0 50px; }
  #header .navMenuBig {
    display: none; }
  #header .navMenuSmall {
    display: block;
    padding-right: 15px;
    padding-left: 15px; }
    #header .navMenuSmall .navInside {
      padding: 0 50px; }
      #header .navMenuSmall .navInside .logoDiv {
        width: 50%; }
      #header .navMenuSmall .navInside .searchIcon {
        width: 50%; }
  #header .navMenuSmallTitle {
    padding-right: 15px;
    padding-left: 15px; }
    #header .navMenuSmallTitle .navInside {
      padding: 0 50px; }
      #header .navMenuSmallTitle .navInside .logoDiv {
        width: 50%; }
      #header .navMenuSmallTitle .navInside .searchIconSmall {
        width: 50%; }
  #header .menuResponse {
    padding-right: 15px;
    padding-left: 15px; } }
/* Header section */
#grid-causes-grid {
  background: url("../img/parallax/img-1.jpg") no-repeat;
  position: relative;
  background-color: transparent;
  padding: 90px 0; }
  #grid-causes-grid .backgroundImg {
    background-color: rgba(36, 40, 47, 0.55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5; }
  #grid-causes-grid .sectionName {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white; }
    #grid-causes-grid .sectionName h2 {
      font-size: 29px;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      letter-spacing: -1px; }
    #grid-causes-grid .sectionName h5 {
      font-size: 15px;
      font-family: "Raleway", sans-serif; }

#grid-cause-list {
  background-color: #f5f5f5;
  padding-bottom: 112px;
  padding-top: 108px; }
  #grid-cause-list .cause {
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 1px lightgray;
    transition: all .1s linear; }
    #grid-cause-list .cause:hover {
      box-shadow: 0 0 10px lightgray; }
    #grid-cause-list .cause:hover .image > .over-lay {
      opacity: 1; }
    #grid-cause-list .cause:hover .image > img {
      transform: scale(1.12); }
    #grid-cause-list .cause .image {
      overflow: hidden;
      position: relative;
      line-height: 0; }
      #grid-cause-list .cause .image img {
        transition: all .1s linear;
        transform: scale(1); }
      #grid-cause-list .cause .image .over-lay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(36, 40, 47, 0.65);
        z-index: 10;
        opacity: 0; }
    #grid-cause-list .cause .content {
      text-align: center;
      background-color: white;
      width: 100%;
      padding: 20px; }
      #grid-cause-list .cause .content h4 {
        margin-bottom: 15px; }
        #grid-cause-list .cause .content h4 a {
          text-decoration: none;
          color: #444444;
          font-weight: 600;
          transition: all .1s linear; }
          #grid-cause-list .cause .content h4 a:hover {
            color: #de1219; }
      #grid-cause-list .cause .content p {
        line-height: 24px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        font-weight: 400; }
      #grid-cause-list .cause .content .progress_section {
        padding: 15px 0; }
        #grid-cause-list .cause .content .progress_section p {
          margin-bottom: 15px;
          font-size: 16px; }
          #grid-cause-list .cause .content .progress_section p .Raised {
            color: #e00707; }
        #grid-cause-list .cause .content .progress_section .progress_barr {
          background-color: #f5f5f5;
          width: 100%;
          position: relative; }
          #grid-cause-list .cause .content .progress_section .progress_barr .progressOwn {
            background-color: #de1219;
            width: .4%;
            -webkit-transition: width .8s linear;
            transition: width .8s linear;
            text-align: left;
            position: relative;
            z-index: 6;
            font-size: 10px;
            color: transparent;
            line-height: 14px;
            text-align: right; }
          #grid-cause-list .cause .content .progress_section .progress_barr .changeWidth {
            width: 50%; }
      #grid-cause-list .cause .content .donation {
        text-align: center; }
        #grid-cause-list .cause .content .donation .main-color {
          background-color: #de1219;
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          font-weight: 600;
          padding: 9px 38px;
          border-radius: 6px;
          transition: all .2s linear; }
          #grid-cause-list .cause .content .donation .main-color:hover {
            background-color: #444444; }

/* Header section */
#list-causes-grid {
  background: url("../img/parallax/img-1.jpg") no-repeat;
  position: relative;
  background-color: transparent;
  padding: 90px 0; }
  #list-causes-grid .backgroundImg {
    background-color: rgba(36, 40, 47, 0.55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5; }
  #list-causes-grid .sectionName {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white; }
    #list-causes-grid .sectionName h2 {
      font-size: 29px;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      letter-spacing: -1px; }
    #list-causes-grid .sectionName h5 {
      font-size: 15px;
      font-family: "Raleway", sans-serif; }

#list-cause-list {
  background-color: #f5f5f5;
  padding-bottom: 112px;
  padding-top: 108px; }
  #list-cause-list .list-cause-row:hover .cause .image > .over-lay {
    opacity: 1; }
  #list-cause-list .list-cause-row:hover .cause .image > img {
    transform: scale(1.12); }
  #list-cause-list .list-cause-row .cause {
    overflow: hidden;
    margin-bottom: 30px;
    transition: all .1s linear; }
    #list-cause-list .list-cause-row .cause .image {
      overflow: hidden;
      position: relative;
      line-height: 0; }
      #list-cause-list .list-cause-row .cause .image img {
        transition: all .1s linear;
        transform: scale(1);
        width: 100%; }
      #list-cause-list .list-cause-row .cause .image .over-lay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(36, 40, 47, 0.65);
        z-index: 10;
        opacity: 0; }
    #list-cause-list .list-cause-row .cause .content {
      background-color: white;
      width: 100%;
      padding: 30px; }
      #list-cause-list .list-cause-row .cause .content h4 {
        margin-bottom: 15px; }
        #list-cause-list .list-cause-row .cause .content h4 a {
          text-decoration: none;
          color: #444444;
          font-weight: 600;
          transition: all .1s linear; }
          #list-cause-list .list-cause-row .cause .content h4 a:hover {
            color: #de1219; }
      #list-cause-list .list-cause-row .cause .content p {
        line-height: 24px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        color: #4a4a4a; }
      #list-cause-list .list-cause-row .cause .content .progress_section {
        padding: 30px 0; }
        #list-cause-list .list-cause-row .cause .content .progress_section p {
          margin-bottom: 30px;
          font-size: 16px; }
          #list-cause-list .list-cause-row .cause .content .progress_section p .Raised {
            color: #e00707; }
        #list-cause-list .list-cause-row .cause .content .progress_section .progress_barr {
          background-color: #f5f5f5;
          width: 100%; }
          #list-cause-list .list-cause-row .cause .content .progress_section .progress_barr .progressOwn {
            background-color: #de1219;
            width: .4%;
            -webkit-transition: width .8s linear;
            transition: width .8s linear;
            text-align: left;
            position: relative;
            z-index: 6;
            font-size: 10px;
            color: transparent;
            line-height: 14px;
            text-align: right; }
          #list-cause-list .list-cause-row .cause .content .progress_section .progress_barr .changeWidth {
            width: 50%; }
      #list-cause-list .list-cause-row .cause .content .donation {
        margin-top: 10px; }
        #list-cause-list .list-cause-row .cause .content .donation .main-color {
          background-color: #de1219;
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          font-weight: 600;
          padding: 9px 38px;
          border-radius: 6px;
          transition: all .2s linear; }
          #list-cause-list .list-cause-row .cause .content .donation .main-color:hover {
            background-color: #444444; }

@media only screen and (max-width: 768px) {
  #list-cause-list .list-cause-row .cause-image {
    margin-bottom: 0 !important; } }
/* Header section */
#single-causes-grid {
  background: url("../img/parallax/img-1.jpg") no-repeat;
  position: relative;
  background-color: transparent;
  padding: 90px 0; }
  #single-causes-grid .backgroundImg {
    background-color: rgba(36, 40, 47, 0.55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5; }
  #single-causes-grid .sectionName {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white; }
    #single-causes-grid .sectionName h2 {
      font-size: 29px;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      letter-spacing: -1px; }
    #single-causes-grid .sectionName h5 {
      font-size: 15px;
      font-family: "Raleway", sans-serif; }

#single-cause-list {
  background-color: #f5f5f5;
  padding-bottom: 70px;
  padding-top: 108px; }
  #single-cause-list .mainCol {
    overflow: hidden; }
    #single-cause-list .mainCol .imageWrapper {
      margin-bottom: 30px; }
      #single-cause-list .mainCol .imageWrapper img {
        width: 100%; }
    #single-cause-list .mainCol .title {
      height: 45px;
      clear: both;
      margin-bottom: 30px; }
      #single-cause-list .mainCol .title h2 {
        float: left;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700; }
      #single-cause-list .mainCol .title div {
        float: right;
        margin-top: 30px; }
        #single-cause-list .mainCol .title div p {
          float: left;
          font-size: 14px;
          line-height: 14px;
          color: rgba(0, 0, 0, 0.55); }
          #single-cause-list .mainCol .title div p i {
            color: #de1219; }
          #single-cause-list .mainCol .title div p:first-child {
            margin-right: 10px; }
    #single-cause-list .mainCol .donationBar .progress_section {
      width: 70%;
      float: left; }
      #single-cause-list .mainCol .donationBar .progress_section p .Raised {
        color: #de1219;
        font-size: 16px; }
      #single-cause-list .mainCol .donationBar .progress_section p span {
        color: #4a4a4a;
        font-size: 14px; }
      #single-cause-list .mainCol .donationBar .progress_section .progress_barr {
        background-color: #f0ecec;
        width: 100%;
        margin: 30px 0; }
        #single-cause-list .mainCol .donationBar .progress_section .progress_barr .progressOwn {
          background-color: #de1219;
          width: .4%;
          -webkit-transition: width .8s linear;
          transition: width .8s linear;
          text-align: left;
          position: relative;
          z-index: 6;
          font-size: 10px;
          color: transparent;
          line-height: 14px;
          text-align: right; }
    #single-cause-list .mainCol .donationBar .donation {
      margin-top: 20px;
      float: right; }
      #single-cause-list .mainCol .donationBar .donation .main-color {
        background-color: #de1219;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 9px 38px;
        border-radius: 6px;
        transition: all .2s linear; }
        #single-cause-list .mainCol .donationBar .donation .main-color:hover {
          background-color: #444444; }
    #single-cause-list .mainCol .infoText p {
      color: #4a4a4a;
      font-size: 14px;
      line-height: 20px;
      font-family: "Lato", sans-serif;
      margin-bottom: 10px; }

#single-cause-pay {
  background-color: #f2f2f2;
  padding: 50px 0 108px; }
  #single-cause-pay .tabs .tab-links {
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    height: 100%; }
    #single-cause-pay .tabs .tab-links ul {
      clear: both; }
      #single-cause-pay .tabs .tab-links ul .active {
        color: #de1219;
        border-bottom: 2px solid #de1219;
        cursor: auto !important; }
      #single-cause-pay .tabs .tab-links ul li {
        padding: 10px 15px 20px;
        margin-right: 35px;
        list-style: none;
        float: left;
        color: #4a4a4a;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 14px; }
        #single-cause-pay .tabs .tab-links ul li:hover {
          cursor: pointer; }
        #single-cause-pay .tabs .tab-links ul li i {
          float: left;
          margin-right: 5px; }
        #single-cause-pay .tabs .tab-links ul li p {
          float: left; }
  #single-cause-pay .contents {
    margin-top: 25px; }
    #single-cause-pay .contents .paypal p {
      font-size: 14px;
      line-height: 24px;
      color: #4a4a4a;
      font-family: "Lato", sans-serif; }
    #single-cause-pay .contents .paypal .Form {
      padding: 30px 0; }
      #single-cause-pay .contents .paypal .Form .radios input {
        font-size: 14px;
        line-height: 20px; }
      #single-cause-pay .contents .paypal .Form .radios span {
        margin: 10px 25px 0 0;
        font-size: 14px; }
      #single-cause-pay .contents .paypal .Form .numbers .numberInput {
        height: 45px;
        font-size: 14px;
        line-height: 20px; }
      #single-cause-pay .contents .paypal .Form .numbers .numberInput:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none; }
      #single-cause-pay .contents .paypal .Form label {
        font-size: 16px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        color: #444;
        display: block;
        line-height: 20px;
        margin-bottom: 10px; }
      #single-cause-pay .contents .paypal .Form .main-color {
        background-color: #de1219;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 30px;
        margin-top: 45px;
        border: none;
        border-radius: 6px;
        transition: all .2s linear; }
        #single-cause-pay .contents .paypal .Form .main-color:hover {
          background-color: #444444; }
    #single-cause-pay .contents .visa p {
      font-size: 14px;
      line-height: 24px;
      color: #4a4a4a;
      font-family: "Lato", sans-serif; }
    #single-cause-pay .contents .visa .Form {
      padding: 30px 0; }
      #single-cause-pay .contents .visa .Form label {
        font-size: 16px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        color: #444;
        display: block;
        line-height: 20px;
        margin: 10px 0px; }
      #single-cause-pay .contents .visa .Form .rowPd {
        padding: 15px 0px; }
      #single-cause-pay .contents .visa .Form .Input {
        height: 45px;
        font-size: 14px;
        line-height: 20px; }
      #single-cause-pay .contents .visa .Form .Input:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none; }
      #single-cause-pay .contents .visa .Form .radios input {
        font-size: 14px;
        line-height: 20px; }
      #single-cause-pay .contents .visa .Form .radios span {
        margin: 10px 25px 0 0;
        font-size: 14px; }
      #single-cause-pay .contents .visa .Form .main-color {
        background-color: #de1219;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 30px;
        margin-top: 45px;
        border: none;
        border-radius: 6px;
        transition: all .2s linear; }
        #single-cause-pay .contents .visa .Form .main-color:hover {
          background-color: #444444; }

/* Header section */
#gallery-grid {
  background: url("../img/parallax/img-1.jpg") no-repeat;
  position: relative;
  background-color: transparent;
  padding: 90px 0; }
  #gallery-grid .backgroundImg {
    background-color: rgba(36, 40, 47, 0.55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5; }
  #gallery-grid .sectionName {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white; }
    #gallery-grid .sectionName h2 {
      font-size: 29px;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      letter-spacing: -1px; }
    #gallery-grid .sectionName h5 {
      font-size: 15px;
      font-family: "Raleway", sans-serif; }

#gallery-slide-image .galleryWrapper {
  padding: 30px 0; }
  #gallery-slide-image .galleryWrapper .galleryImage {
    padding: 3px; }
    #gallery-slide-image .galleryWrapper .galleryImage .image {
      width: 100%;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: flex; }
      #gallery-slide-image .galleryWrapper .galleryImage .image img {
        width: 100%;
        height: 100%; }
      #gallery-slide-image .galleryWrapper .galleryImage .image .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 3px;
        background-color: rgba(36, 40, 47, 0.85);
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: all .5s ease; }
        #gallery-slide-image .galleryWrapper .galleryImage .image .overlay:hover {
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center; }
        #gallery-slide-image .galleryWrapper .galleryImage .image .overlay:hover i {
          opacity: 1;
          transform: translateY(120px); }
        #gallery-slide-image .galleryWrapper .galleryImage .image .overlay i {
          opacity: 0;
          width: 35px;
          height: 35px;
          color: white;
          background-color: #de1219;
          position: absolute;
          top: 0;
          z-index: 6;
          text-align: center;
          line-height: 35px;
          font-size: 16px;
          border-radius: 3px;
          transition: all .5s ease; }

#gallery-slider {
  transition: all 0.8s linear; }
  #gallery-slider .main-wrapper {
    background: rgba(0, 0, 0, 0.65);
    padding: 30px;
    height: 100hv;
    width: 100wv;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center; }
    #gallery-slider .main-wrapper .controls {
      position: absolute;
      width: 10%;
      height: 50%;
      font-size: 34px;
      color: #ADACAC;
      display: flex;
      align-items: center;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.2s linear;
      cursor: pointer; }
      #gallery-slider .main-wrapper .controls:hover {
        color: #DAD8D8; }
    #gallery-slider .main-wrapper .close {
      width: 0;
      height: 0;
      right: 78px;
      top: 45px;
      opacity: 1;
      border: none;
      text-shadow: none; }
    #gallery-slider .main-wrapper .content {
      display: flex;
      align-items: center;
      justify-content: center; }
      #gallery-slider .main-wrapper .content .imageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        margin: 0px 20px; }
        #gallery-slider .main-wrapper .content .imageWrapper img {
          max-height: 100%;
          max-width: 100%;
          height: auto;
          width: auto;
          border: 10px solid white; }
      #gallery-slider .main-wrapper .content .prev {
        left: 0; }
      #gallery-slider .main-wrapper .content .next {
        right: 0;
        justify-content: flex-end; }

@media only screen and (max-width: 992px) {
  #gallery-slide-image .galleryWrapper .galleryImage .image .overlay:hover i {
    transform: translateY(70px); } }
@media only screen and (max-width: 768px) {
  #gallery-slide-image .galleryWrapper .Width-25 {
    width: 50%; }
  #gallery-slide-image .galleryWrapper .Width-50 {
    width: 100%; }
  #gallery-slide-image .galleryWrapper .galleryImage .image .overlay:hover i {
    transform: translateY(120px); } }
@media only screen and (max-width: 576px) {
  #gallery-slide-image .galleryWrapper .galleryImage .image .overlay:hover i {
    transform: translateY(80px); } }
/* Header section */
#about-services {
  padding-top: 85px; }
  #about-services .image img {
    width: 100%; }
  #about-services .content {
    padding: 110px 10px 0 10px; }
    #about-services .content h1 {
      color: #444444;
      font-size: 24px;
      font-weight: 900;
      line-height: 31px;
      text-transform: uppercase; }
    #about-services .content p {
      margin-top: 20px;
      font-size: 13px;
      line-height: 24px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: #4a4a4a; }
    #about-services .content .donation {
      margin-top: 20px; }
      #about-services .content .donation .main-color {
        background-color: #de1219;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 9px 38px;
        border-radius: 6px;
        transition: all .2s linear; }
        #about-services .content .donation .main-color:hover {
          background-color: #444444; }

#about-volunteers {
  padding: 100px 0px;
  background-color: #f8f8f8; }
  #about-volunteers .title {
    padding-bottom: 85px;
    text-align: center; }
    #about-volunteers .title h1 {
      text-transform: uppercase;
      color: #444444;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 24px; }
    #about-volunteers .title h5 {
      display: inline-block;
      position: relative;
      z-index: 8888;
      padding: 0 15px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #4a4a4a; }
  #about-volunteers .volunteers:hover .text .social {
    transform: scale(1.08); }
  #about-volunteers .volunteers .image {
    margin-top: 20px; }
    #about-volunteers .volunteers .image img {
      width: 100%;
      height: 100%; }
  #about-volunteers .volunteers .text {
    padding: 20px 0px; }
    #about-volunteers .volunteers .text .social {
      float: right;
      margin-top: -39px;
      margin-right: 15px;
      z-index: 6;
      position: relative;
      transition: all .25s linear; }
      #about-volunteers .volunteers .text .social i {
        font-size: 18px;
        color: white;
        background-color: red;
        width: 35px;
        padding: 8px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .1s linear; }
        #about-volunteers .volunteers .text .social i:hover {
          background-color: #444444; }
    #about-volunteers .volunteers .text h5 {
      color: #de1219;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer; }
    #about-volunteers .volunteers .text h3 {
      padding: 15px 0px;
      color: #444444;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      cursor: pointer; }
      #about-volunteers .volunteers .text h3:hover {
        color: #de1219; }
    #about-volunteers .volunteers .text p {
      color: #666;
      font-size: 14px;
      line-height: 24px;
      font-family: "Lato", sans-serif;
      font-weight: 400; }

#about-partners {
  padding: 65px 0px 85px; }
  #about-partners .partner {
    display: flex;
    justify-content: center;
    padding: 20px 0px; }
    #about-partners .partner a img {
      width: 100%;
      transition: all 0.5s ease;
      opacity: 0.4; }
    #about-partners .partner a:hover img {
      opacity: 1; }

/* Header section */
#blog-page {
  background-color: #f6f6f6;
  padding: 85px 0; }
  #blog-page .wrapper .blog-list .blogItem {
    margin-bottom: 50px; }
    #blog-page .wrapper .blog-list .blogItem .itemMeta .date {
      background-color: #de1219;
      width: 75px;
      height: 70px;
      padding: 10px 0 0 0;
      text-align: center;
      font-size: 14px;
      font-weight: 900;
      color: white;
      font-family: "Helvetica Neue", sans-serif;
      line-height: 23px;
      float: left; }
    #blog-page .wrapper .blog-list .blogItem .itemMeta .about {
      float: left;
      padding-left: 20px; }
      #blog-page .wrapper .blog-list .blogItem .itemMeta .about h3 {
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: #444444;
        margin-bottom: 20px; }
      #blog-page .wrapper .blog-list .blogItem .itemMeta .about p {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        font-family: "Helvetica Neue", sans-serif;
        color: #444444;
        margin-right: 18px; }
        #blog-page .wrapper .blog-list .blogItem .itemMeta .about p i {
          font-size: 14px; }
    #blog-page .wrapper .blog-list .blogItem .itemImage {
      overflow: hidden;
      clear: both;
      padding: 15px 0px; }
    #blog-page .wrapper .blog-list .blogItem .itemText p {
      font-size: 14px;
      line-height: 24px;
      font-family: "Lato", sans-serif;
      color: #4a4a4a; }
    #blog-page .wrapper .blog-list .blogItem .readMore .donation {
      margin-top: 10px; }
      #blog-page .wrapper .blog-list .blogItem .readMore .donation .main-color {
        background-color: #de1219;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 9px 30px;
        border-radius: 6px;
        transition: all .2s linear; }
        #blog-page .wrapper .blog-list .blogItem .readMore .donation .main-color:hover {
          background-color: #444444; }
  #blog-page .wrapper .rightSide .wrapperRight {
    margin-left: 30px; }
    #blog-page .wrapper .rightSide .wrapperRight .header {
      border-bottom: 1px solid rgba(218, 215, 212, 0.5);
      margin-bottom: 15px; }
      #blog-page .wrapper .rightSide .wrapperRight .header h2 {
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #444444;
        margin-bottom: 15px;
        position: relative; }
        #blog-page .wrapper .rightSide .wrapperRight .header h2::after {
          content: " ";
          position: absolute;
          bottom: -17px;
          left: 0;
          width: 81px;
          height: 3px;
          background-color: #de1219; }
    #blog-page .wrapper .rightSide .wrapperRight .search {
      margin-bottom: 60px;
      position: relative; }
      #blog-page .wrapper .rightSide .wrapperRight .search input {
        height: 44px;
        box-shadow: none;
        border: 1px solid #ebebeb;
        border-radius: 2px;
        font-size: 13px;
        outline: 0;
        font-family: "Helvetica Neue", sans-serif; }
        #blog-page .wrapper .rightSide .wrapperRight .search input:focus {
          box-shadow: none;
          outline: 0; }
      #blog-page .wrapper .rightSide .wrapperRight .search button {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 13px;
        background-color: transparent;
        border: none; }
        #blog-page .wrapper .rightSide .wrapperRight .search button i {
          font-size: 14px; }
    #blog-page .wrapper .rightSide .wrapperRight .categories {
      margin-bottom: 60px; }
      #blog-page .wrapper .rightSide .wrapperRight .categories .content a {
        text-decoration: none;
        display: block;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        color: #4a4a4a;
        font-size: 14px;
        padding: 12px 0;
        border-bottom: 1px solid rgba(218, 215, 212, 0.5);
        transition: all .3s linear; }
        #blog-page .wrapper .rightSide .wrapperRight .categories .content a span {
          float: right; }
        #blog-page .wrapper .rightSide .wrapperRight .categories .content a:hover {
          color: #de1219; }
    #blog-page .wrapper .rightSide .wrapperRight .recentPosts {
      margin-bottom: 60px; }
      #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li {
        padding: 15px 0;
        display: inline-block;
        border-bottom: 1px solid rgba(218, 215, 212, 0.5); }
        #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li:hover .image .owerlay {
          opacity: 1; }
        #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li:hover .image i {
          opacity: 1;
          top: 21px; }
        #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li:hover .info a {
          color: #de1219; }
        #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .image {
          position: relative;
          float: left;
          line-height: 0;
          overflow: hidden; }
          #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .image .owerlay {
            position: absolute;
            top: 0;
            line-height: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(36, 40, 47, 0.65);
            opacity: 0;
            transition: all .3s ease-out; }
          #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .image i {
            position: absolute;
            top: -20px;
            left: 20px;
            color: white;
            background-color: #de1219;
            padding: 9px 11px;
            border-radius: 3px;
            opacity: 0;
            transition: all .3s ease-out; }
        #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info {
          float: left;
          padding: 0 10px;
          width: 245px; }
          #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info a {
            font-size: 16px;
            line-height: 16px;
            color: #444444;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            text-decoration: none;
            transition: all .3s ease-out; }
          #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date {
            padding: 12px 0; }
            #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date p,
            #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date span {
              font-size: 14px;
              color: rgba(56, 56, 56, 0.4);
              font-family: "Lato", sans-serif;
              display: inline;
              margin-right: 6px; }
              #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date p i,
              #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date span i {
                margin-right: 2px; }
            #blog-page .wrapper .rightSide .wrapperRight .recentPosts .content ul li .info .date span {
              font-size: 14px;
              color: rgba(197, 192, 192, 0.4); }
      #blog-page .wrapper .rightSide .wrapperRight .recentPosts .tags {
        margin-bottom: 60px; }
    #blog-page .wrapper .rightSide .wrapperRight .tags .content a {
      display: inline-block;
      text-decoration: none;
      color: #4a4a4a;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      padding: 0 25px;
      line-height: 35px;
      background-color: #ebebeb;
      border-radius: 3px;
      transition: all 0.3s ease;
      margin: 2px 0px; }
      #blog-page .wrapper .rightSide .wrapperRight .tags .content a:hover {
        color: #f6f6f6;
        background-color: #4a4a4a; }

/* Header section */
#blog-page {
  background-color: #f6f6f6;
  padding: 85px 0; }
  #blog-page .wrapper .blog-single {
    background-color: red; }

/* Header section */
#contact-map .mapFrame {
  line-height: 0; }

#contact-info {
  padding: 85px 0 105px;
  background-color: #f6f6f6;
  text-align: center; }
  #contact-info .contacts:hover i {
    color: #de1219;
    transform: scale(1.2); }
  #contact-info .contacts h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: "Helvetica Neue", sans-serif; }
  #contact-info .contacts i {
    font-size: 30px;
    color: #a5a5a5;
    margin: 30px 0;
    transition: all .2s ease-in; }
  #contact-info .contacts p {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #4a4a4a;
    line-height: 24px; }

#contact-message {
  background-color: #f6f6f6; }
  #contact-message .heading {
    text-align: center; }
    #contact-message .heading h1 {
      font-size: 24px;
      font-family: "Helvetica Neue", sans-serif;
      color: #444444;
      font-weight: 900;
      margin-bottom: 15px; }
    #contact-message .heading p {
      font-size: 14px;
      line-height: 24px;
      color: #4a4a4a;
      font-family: "Lato", sans-serif;
      font-weight: 400; }
  #contact-message .formSection {
    padding: 20px 0; }
    #contact-message .formSection .pd-l-r-p {
      padding-left: 15px;
      padding-right: 15px; }
    #contact-message .formSection label {
      font-size: 16px;
      color: #444444;
      font-weight: 400;
      font-family: "Helvetica Neue", sans-serif;
      margin-bottom: 10px;
      margin-top: 30px; }
    #contact-message .formSection .inputText {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background-color: transparent;
      box-shadow: none; }
      #contact-message .formSection .inputText:focus {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.13); }
    #contact-message .formSection input {
      height: 45px; }
    #contact-message .formSection button {
      text-align: center;
      margin-top: 10px;
      background-color: #de1219;
      color: white;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 600;
      padding: 14px 23px;
      border: none;
      border-radius: 6px;
      transition: all .2s linear; }
      #contact-message .formSection button:hover {
        background-color: #444444; }
      #contact-message .formSection button i {
        margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
