/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Raleway, sans-serif; }

.clear {
  clear: both; }

.boxSizing {
  box-sizing: border-box; }

.mg {
  margin: 0 !important; }

.mg-left {
  margin-left: 0 !important; }

.mg-right {
  margin-right: 0 !important; }

.mg-top {
  margin-top: 0 !important; }

.mg-bottom {
  margin-bottom: 0 !important; }

.pd {
  padding: 0 !important; }

.pd-left {
  padding-left: 0 !important; }

.pd-right {
  padding-right: 0 !important; }

.pd-top {
  padding-top: 0 !important; }

.pd-bottom {
  padding-bottom: 0 !important; }

.flex {
  display: flex; }

.float-left {
  float: left; }

.float-right {
  float: right; }

body {
  height: 3000px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  #header .search {
    background-color: #f8f8f8;
    padding: 5px 0;
    display: none; }
    #header .search .flex {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    #header .search .searchBar {
      background-color: transparent;
      border: none;
      width: 95%;
      font-size: 14px;
      font-weight: 400;
      font-family: Lato, sans-serif;
      line-height: 0;
      outline-style: none;
      box-shadow: none;
      border-color: transparent; }
    #header .search i {
      font-size: 13px;
      color: #de1219; }
      #header .search i:hover {
        cursor: pointer; }
  #header .navMenu {
    background-color: transparent;
    box-shadow: 0 5px 10px -7px #dfdede; }
    #header .navMenu .navMenuInside {
      padding: 5px 0; }
      #header .navMenu .navMenuInside a {
        align-items: center;
        padding: 0; }
      #header .navMenu .navMenuInside .navInside {
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px; }
        #header .navMenu .navMenuInside .navInside .logoDiv {
          position: relative;
          top: -12px; }
          #header .navMenu .navMenuInside .navInside .logoDiv .logo {
            font-size: 32px;
            color: #de1219;
            font-weight: 600;
            font-family: Raleway, sans-serif; }
            #header .navMenu .navMenuInside .navInside .logoDiv .logo span {
              color: #444444;
              font-weight: 900; }
        #header .navMenu .navMenuInside .navInside .menuDiv {
          position: relative;
          top: 3px; }
          #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages {
            justify-content: flex-end; }
            #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul {
              align-items: center;
              line-height: 30px; }
              #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul .active {
                color: #de1219; }
              #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li {
                position: relative;
                padding-bottom: 25px; }
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li a,
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li span {
                  transition: all .2s ease-out 0s;
                  font-size: 15px;
                  font-weight: 500;
                  color: #444444;
                  margin: 0 20px;
                  opacity: .9;
                  cursor: pointer; }
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li a:hover,
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li span:hover {
                    color: #de1219; }
                #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu {
                  display: none;
                  position: absolute;
                  top: 45px;
                  left: 20px;
                  width: 250px;
                  border-bottom: 2px solid #de1219; }
                  #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li {
                    background-color: #444444;
                    padding: 10px 0;
                    border-bottom: 1px solid #5f5f61;
                    transition: all .3s ease-out 0s; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li:hover {
                      background-color: #de1219;
                      border-bottom: 1px solid #de1219; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li:hover a {
                      margin-left: 15px; }
                    #header .navMenu .navMenuInside .navInside .menuDiv .navInsidePages ul li .subMenu li a {
                      color: white;
                      margin-left: 10px; }
        #header .navMenu .navMenuInside .navInside .searchIcon {
          justify-content: flex-end;
          position: relative;
          top: -12px; }
          #header .navMenu .navMenuInside .navInside .searchIcon i {
            padding: 8px 15px;
            border-radius: 3px;
            background-color: #de1219;
            color: white;
            font-size: 14px;
            cursor: pointer; }
  #header .navMenuSmall {
    display: none; }
  #header .navMenuSmallTitle {
    display: none; }
  #header .menuResponse {
    display: none; }
    #header .menuResponse ul li {
      border-top: 1px solid #dddddd;
      position: relative; }
      #header .menuResponse ul li a {
        display: block;
        text-decoration: none;
        color: #444444;
        font-family: Raleway, sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding: 15px;
        cursor: pointer;
        width: 95%;
        transition: all .3s ease-out 0s; }
        #header .menuResponse ul li a:hover {
          color: #de1219; }
      #header .menuResponse ul li i {
        position: absolute;
        right: 7px;
        top: 12px;
        float: right;
        color: #444444;
        font-size: 8px;
        padding: 3px;
        cursor: pointer;
        transition: all .3s ease-out 0s; }
        #header .menuResponse ul li i:hover {
          color: #de1219; }
      #header .menuResponse ul li ul {
        display: none; }
        #header .menuResponse ul li ul li {
          background-color: #fcfcfc; }
          #header .menuResponse ul li ul li a {
            padding-left: 55px;
            font-size: 12px;
            color: #919191;
            font-weight: normal; }

@media only screen and (max-width: 992px) {
  #header .navMenuBig {
    display: none; }
  #header .navMenuSmall {
    display: block;
    box-shadow: none; }
  #header .navMenuSmallTitle {
    display: block;
    box-shadow: none; }
    #header .navMenuSmallTitle .navInside .logoDiv a {
      font-size: 22px !important;
      font-weight: 300 !important; }
    #header .navMenuSmallTitle .navInside .searchIconSmall {
      justify-content: flex-end;
      position: relative;
      top: -12px; }
      #header .navMenuSmallTitle .navInside .searchIconSmall i {
        color: #de1219;
        font-size: 30px;
        cursor: pointer; }
  #header .menuResponse {
    display: block; } }
@media only screen and (max-width: 768px) {
  #header .navMenuSmall .navInside {
    border-bottom: 1px solid #dddddd; } }
@media only screen and (max-width: 576px) {
  #header .search {
    padding: 0 50px; }
  #header .navMenuBig {
    display: none; }
  #header .navMenuSmall {
    display: block;
    padding-right: 15px;
    padding-left: 15px; }
    #header .navMenuSmall .navInside {
      padding: 0 50px; }
      #header .navMenuSmall .navInside .logoDiv {
        width: 50%; }
      #header .navMenuSmall .navInside .searchIcon {
        width: 50%; }
  #header .navMenuSmallTitle {
    padding-right: 15px;
    padding-left: 15px; }
    #header .navMenuSmallTitle .navInside {
      padding: 0 50px; }
      #header .navMenuSmallTitle .navInside .logoDiv {
        width: 50%; }
      #header .navMenuSmallTitle .navInside .searchIconSmall {
        width: 50%; }
  #header .menuResponse {
    padding-right: 15px;
    padding-left: 15px; } }

/*# sourceMappingURL=style.css.map */
